<form class="form-search">
  <div class="control-group">
    <label class="control-label" for="fileInput">上传框</label>
	    <div class="controls">
	        <input class="input-file" id="fileInput" type="file">
	    </div>
    </div>
</form>