<section id="responsive">
<div class="row">
    <h5>这是样式名</h5><!-- /.span -->
    <div class="span7">
    	<code>
		  &lt;p&gt;Sample text here...&lt;/p&gt;
		</code>
    </div><!-- /.span -->
  </div>
</section>