<div class="jumbotron">
        <h1>The best begin with your product!</h1>
        <p class="lead">LiveStart志在减少你的前端项目里重复的工作，使前端项目管理更加便利，更加快捷，希望你能喜欢，目前LiveStart只是一个开始，我们也是初学者，相信她会越来越好的。</p>
        <a class="btn btn-large btn-success" href="#">Start Now!</a>
      </div>

      <hr>

      <div class="marketing" style="margin:0;">
        
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>项目名</th>
                  <th>项目目录</th>
                  <th>类型</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
      </div>