<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  </head>
  <body>
    
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">开始</a></li>
          <li><a href="#">项目管理</a></li>
          <li><a href="#">关于</a></li>
        </ul>
        <h3 class="muted">LiveStart</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>The best begin with your product!</h1>
        <p class="lead">LiveStart志在减少你的前端项目里重复的工作，使前端项目管理更加便利，更加快捷，希望你能喜欢，目前LiveStart只是一个开始，我们也是初学者，相信她会越来越好的。</p>
        <a class="btn btn-large btn-success" href="#">Start Now</a>
      </div>

      <hr>

      <div class="marketing" style="margin:0;">
        
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>项目名</th>
                  <th>项目目录</th>
                  <th>类型</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; LiveStart 2013</p>
      </div>

    </div> <!-- /container -->
    
  </body>
</html>