<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  </head>
  <body>
    
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">开始</a></li>
          <li><a href="#">项目</a></li>
          <li><a href="#">设置</a></li>
          <li><a href="#">关于</a></li>
        </ul>
        <h3 class="muted">LiveStart</h3>
      </div>

      <hr>

      <%- body %>

      <hr>

      <div class="footer">
        <p>&copy; LiveStart 2013</p>
      </div>

    </div> <!-- /container -->
    
  </body>
</html>