/*!
 * Livestart Style
 *
 */
body {
	background:none;
}
.tc {
    text-align: center !important;
}
.f12 {
    font-size: 12px !important;
}
.c333 {
    color: #333333;
}
.c666 {
    color: #666666;
}
.cccc {
    color: #cccccc;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.fileicon {
    display: inline-block;
    text-indent: 5px;
}
.none {
    display: none;
}

#top-navbar .close {
	padding: 11px 18px 0 0;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
}
.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
